# HackRF One + PortaPack Mayhem udev rules
# Install: sudo cp 99-hackrf-mayhem.rules /etc/udev/rules.d/ && sudo udevadm control --reload-rules && sudo udevadm trigger

# PortaPack Mayhem serial console (CDC-ACM)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6018", MODE="0666", SYMLINK+="hackrf_mayhem"

# HackRF One USB bulk (libusb)
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6089", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="604b", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6018", MODE="0666"
